[submodule "Unity/Assets/ilib-mvvm"]
	path = Unity/Assets/ilib-mvvm
	url = https://github.com/yazawa-ichio/mvvm.git
[submodule "Unity/Assets/ilib-unity-etc"]
	path = Unity/Assets/ilib-unity-etc
	url = https://github.com/yazawa-ichio/ilib-unity-etc.git
[submodule "Unity/Assets/ilib-abloader"]
	path = Unity/Assets/ilib-abloader
	url = https://github.com/yazawa-ichio/ilib-abloader.git
[submodule "Unity/Assets/ilib-serv-injector"]
	path = Unity/Assets/ilib-serv-injector
	url = https://github.com/yazawa-ichio/ilib-serv-injector.git
[submodule "Unity/Assets/ilib-scwidgets"]
	path = Unity/Assets/ilib-scwidgets
	url = https://github.com/yazawa-ichio/ilib-scwidgets.git
[submodule "Unity/Assets/ilib-unity-save"]
	path = Unity/Assets/ilib-unity-save
	url = https://github.com/yazawa-ichio/ilib-unity-save.git
[submodule "Unity/Assets/ilib-sound-control"]
	path = Unity/Assets/ilib-sound-control
	url = https://github.com/yazawa-ichio/ilib-sound-control.git
