[submodule "Unity/Assets/ilib-mvvm"]
	path = Unity/Assets/ilib-mvvm
	url = https://github.com/yazawa-ichio/mvvm.git
[submodule "Unity/Assets/ilib-untiy-etc"]
	path = Unity/Assets/ilib-untiy-etc
	url = https://github.com/yazawa-ichio/ilib-unity-etc.git
[submodule "Unity/Assets/ilib-abloader"]
	path = Unity/Assets/ilib-abloader
	url = https://github.com/yazawa-ichio/ilib-abloader.git
[submodule "Unity/Assets/ilib-serv-injector"]
	path = Unity/Assets/ilib-serv-injector
	url = https://github.com/yazawa-ichio/ilib-serv-injector.git
